<ion-content [fullscreen]="true">
  <div class="container">
    <ion-img src="assets/landing2.webp" class="top-image"></ion-img>
    <h1 class="main-title">Descubre las mejores "Huecas" de Comida</h1>
    <ion-img src="assets/landing1.jpg" class="bottom-image"></ion-img>
  </div>
  
  <ion-fab vertical="bottom" horizontal="end" style="margin-bottom: 30px;">
    <ion-fab-button [routerLink]="['/login']" class="custom-fab-button">
      <span class="button-text">Agrega una hueca!</span>
    </ion-fab-button>
  </ion-fab>
</ion-content>
