<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Vamos a empezar</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="header">
    <ion-title class="title" size="large">Empecemos</ion-title>
    <p class="subtitle">Crea una cuenta</p>
  </div>
  <form [formGroup]="ionicForm" novalidate>
    <div class="ion-padding">
      <ion-item>
        <ion-input class="input" formControlName="fullname" placeholder="Nombre completo" />
        <ion-icon slot="end" name="person-outline"></ion-icon>
      </ion-item>
      <div style="padding-top: -26px;padding-bottom: 16px;"
        *ngIf="this.ionicForm.controls?.['fullname'].touched && this.ionicForm.controls?.['fullname'].invalid">
        <ion-text *ngIf="errorControl.fullname.errors?.required" class="errorInput" color="danger">Se requiere el nombre
          completo.</ion-text>
      </div>
      <ion-item>
        <ion-input class="input" formControlName="email" placeholder="Correo electrónico" />
        <ion-icon slot="end" name="mail-outline"></ion-icon>
      </ion-item>
      <div style="padding-top: -26px;padding-bottom: 16px;"
        *ngIf="this.ionicForm.controls?.['email'].touched && this.ionicForm.controls?.['email'].invalid">
        <ion-text *ngIf="errorControl.email.errors?.required" class="errorInput" color="danger">El correo electrónico es
          requerido.</ion-text>
        <ion-text *ngIf="errorControl.email.errors?.pattern" class="errorInput" color="danger">Por favor proporcione un
          correo electrónico válido.</ion-text>
      </div>
      <ion-item>
        <ion-input class="input" type="password" formControlName="password" placeholder="Contraseña" />
        <ion-icon slot="end" name="lock-closed-outline"></ion-icon>
      </ion-item>
      <div style="padding-top: -26px;padding-bottom: 16px;"
        *ngIf="this.ionicForm.controls?.['password'].touched && this.ionicForm.controls?.['password'].invalid">
        <ion-text *ngIf="errorControl.password.errors?.required" class="errorInput" color="danger">se requiere
          contraseña.</ion-text>
        <ion-text *ngIf="errorControl.password.errors?.pattern" class="errorInput" color="danger">Tener una longitud mínima de 8 caracteres. Incluir al menos un carácter especial. Contener al menos una letra mayúscula. Poseer al menos un número.
        </ion-text>
      </div>
      <ion-item>
        <ion-input class="input" type="numeric" formControlName="contact" placeholder="Teléfono" />
        <ion-icon slot="end" name="call-outline"></ion-icon>
      </ion-item>
      <div style="padding-top: -26px;padding-bottom: 16px;"
        *ngIf="this.ionicForm.controls?.['contact'].touched && this.ionicForm.controls?.['contact'].invalid">
        <ion-text *ngIf="errorControl.contact.errors?.required" class="errorInput" color="danger">El contacto es
          requerido..</ion-text>
        <ion-text *ngIf="errorControl.contact.errors?.pattern" class="errorInput" color="danger">El contacto debe contener
          sólo números..</ion-text>
        <ion-text *ngIf="errorControl.contact.errors?.minlength" class="errorInput" color="danger">El contacto debe ser
          menos de 10 dígitos..</ion-text>

      </div>

      <div class="loginLink">
        <p class="p">Ya eres usuario? <a [routerLink]="['/login']" style="color: #FFC33F">Inicia sesión</a></p>
      </div>
    </div>

    <ion-fab *ngIf="ionicForm.valid" vertical="bottom" horizontal="end" style="margin-bottom: 30px;">
      <ion-fab-button (click)="signUP()">
        <ion-icon name="chevron-forward"></ion-icon>
      </ion-fab-button>
    </ion-fab>

  </form>

</ion-content>