<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Agregar Hueca</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>

    <!-- Campo para subir múltiples fotos desde la galería -->
    <ion-item lines="none">
      <ion-label>Fotos (máx. 3)</ion-label>
    </ion-item>
    <ion-item lines="none">
      <input type="file" (change)="onFilesSelected($event)" accept="image/*" multiple>
    </ion-item>

    <!-- Muestra de las fotos seleccionadas -->
    <div class="image-container">
      <ion-img *ngFor="let foto of fotosPreview" [src]="foto.url" class="selected-photo"></ion-img>
    </div>

    <!-- Campos para el nombre de la locación y descripción -->
    <ion-item>
      <ion-label position="floating">Nombre de la Hueca</ion-label>
      <ion-input [(ngModel)]="nombreLocacion" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Descripción</ion-label>
      <ion-textarea [(ngModel)]="descripcionLocacion"></ion-textarea>
    </ion-item>

    <!-- Muestra de coordenadas obtenidas -->
    <ion-list-header>
      Coordenadas de la ubicación
    </ion-list-header>

    <!-- Botón para obtener ubicación -->
    <ion-item>
      <ion-button (click)="getCurrentCoordinates()" expand="block">
        Obtener ubicación
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-label>Latitud</ion-label>
      <ion-badge color="danger" slot="end">{{latitude}}</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Longitud</ion-label>
      <ion-badge color="danger" slot="end">{{longitude}}</ion-badge>
    </ion-item>

    <!-- Botón para guardar locación -->
    <ion-item lines="none">
      <ion-button (click)="guardarHueca()" expand="full" class="save-button">
        Guardar Hueca
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>