<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Huecas
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="signOut()">
        Cerrar sesión
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let hueca of huecas; let i = index">
        <ion-card (click)="showActionSheet(hueca, i)">
          <ion-card-content>
            <ion-img [src]="hueca.fotos[0]" class="first-image"></ion-img>
            <ion-card-title>{{ hueca.nombre }}</ion-card-title>
            <!-- Aquí puedes mostrar más detalles de la hueca si es necesario -->
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-button expand="full" (click)="AgregarHueca()" class="boton-inferior">Agrega una hueca</ion-button>
</ion-content>