<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title slot="start">
      Huecas
    </ion-title>
    <ion-button slot="end" fill="clear" (click)="signOut()">Cerrar sesión</ion-button>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let photo of photoService.photos; index as position">
        <ion-img [src]="photo.webviewPath" (click)="showActionSheet(photo, position)"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-button expand="full" (click)="AgregarHueca()" class="boton-inferior">Agrega una hueca</ion-button>
</ion-content>